html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "futura-pt", Arial;
  position: relative;
}
header,
body > section,
footer,
.bfcontent {
  padding: 25px 10%;
}
a,
a:hover {
  color: #292f6b;
}
header h1 {
  font-weight: 400;
  font-size: 40px;
  margin: 25px 0;
}
header p {
  font-size: 16px !important;
}
.heroContent span,
.heroContent span a {
  color: #292f6b;
}

.heroImage img {
  width: 100%;
  height: auto;
  border-radius: 36% 50% 50% 36%;
}
.callToAction {
  margin-top: 40px;
  display: flex;
}
.newsBtn,
.supportBtn {
  border-radius: 1px;
  padding: 10px 20px;
  font-size: 15px;
}
.newsBtn {
  background-color: #292f6b;
  color: white;
}
.newsBtn,
.newsBtn:active,
.newsBtn:focus {
  border: 0;
  outline: 0;
}
.newsBtn:hover {
  color: white;
  text-decoration: underline;
}
.supportBtn {
  color: #292f6b;
  border: 1px solid #292f6b;
  background-color: white;
  margin-left: 2rem;
}
.supportBtn:hover {
  color: #292f6b;
}

header .row {
  align-items: center;
}

aside {
  border: 1px solid #292f6b;
  padding: 20px 8%;
  width: 100%;
  margin-bottom: 40px;
}
aside small {
  font-weight: 500;
  font-size: 14px;
}
aside small a,
aside small a:hover {
  color: #292f6b;
}
aside > small i {
  color: rgb(59, 0, 0);
}
.container-fluid {
  padding: 0;
}
main h2 {
  font-size: 27px;
}
.dateWrap {
  margin: 25px 0;
  display: block;
}
.date {
  color: #292f6b;
}
main {
  margin: 20px 0 0px 0;
}

.jobinfo {
  background-color: #fff;
  border: 1px solid #292f6b;
  display: flex;
  margin-top: 15px;
  align-items: center;
  padding: 15px 5px;
}
.jobinfo p {
  flex-basis: 25%;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  color: black;
  margin-bottom: 0;
  font-size: 15px;
}
.jobinfo p:nth-child(1) {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 2px;
}

.jobinfo a {
  color: #292f6b;
}
.jobinfo:nth-child(1) p {
  font-weight: bold;
  color: #292f6b;
}

.bfcontent {
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 200px;
}
.bfcontent h4 {
  color: #292f6b;
}

footer {
  padding: 30px;
  background-color: #292f6b;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.contactForm form input[type="text"] {
  width: 30%;
}
.contactForm form input[type="email"] {
  width: 40%;
}
.contactForm form input,
.contactForm form input::placeholder {
  color: #292f6b;
  padding: 5px;
  box-sizing: border-box;
}
.contactForm form input:focus {
  outline: 0;
}
.contactForm form button {
  background-color: #292f6b;
  border: 0;
  padding: 5px 15px;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
}
.subArea {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: -10;
  transition: 0.2s opacity ease-in-out;
}
.subForm {
  border: 1px solid #292f6b;
  background-color: white;
  padding: 5%;
  box-sizing: border-box;
  margin: 0 20px;
}
.subscribe {
  background-color: #292f6b;
  padding: 5px 10px;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  display: block;
  margin-top: 5px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.subscribe:hover {
  background-color: white;
  border: 1px solid #292f6b;
  color: #292f6b;
}
.subForm input {
  padding: 5px;
  width: 100%;
  display: block;
  margin-top: 5px;
}
.subArea .row {
  align-items: center !important;
}
.subForm > button {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  background-color: white;
  border: 0;
  border: 1px solid red;
}
.subForm > button:focus {
  outline: 0;
}
@media (max-width: 948px) {
  .supportBtn {
    margin-left: 0.5rem;
  }
  .newsBtn,
  .supportBtn {
    padding: 10px 12px;
  }
}
@media (max-width: 767px) {
  .heroImage {
    display: none;
  }
}
@media (max-width: 490px) {
  header h1 {
    font-size: 35px;
  }
  header p {
    font-size: 18px;
  }
}
@media (max-width: 415px) {
  .contactForm form input[type="email"] {
    width: 55%;
    display: inline-block;
  }
  .contactForm form input[type="text"] {
    width: 35%;
    display: inline-block;
  }
  .contactForm form button {
    display: block;
    margin-top: 5px;
  }
  header,
  body > section,
  footer {
    padding: 25px 5%;
  }
  footer {
    position: initial;
  }
}
